@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Quicksand:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'poppins', 'sans-serif', 'system-ui';
  background: #f8f7f9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'quicksand', sans-serif, 'system-ui';
}

.tooltip-container::before {
  content: attr(data-text);
  white-space: nowrap;
  position: absolute;
  top: -2.5rem;
  left: 50%;
  width: fit-content;
  border-radius: 100vmax;
  background: #3b4453;
  padding: 0.1rem 1rem;
  color: #fff;
  transform: translateX(-50%);
  opacity: 0;
  user-select: none;
  transition: 0.5s opacity ease;
}

.tooltip-container:hover::before {
  opacity: 1;
  animation: jello 1s ease 0s 1 normal forwards;
}
.tooltip-container:hover span {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .tooltip-container::before {
    display: none;
  }
}

@keyframes jello {
  0%,
  100% {
    transform: translateX(0%) translateX(-50%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg) translateX(-50%);
  }

  30% {
    transform: translateX(15px) rotate(6deg) translateX(-50%);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg) translateX(-50%);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg) translateX(-50%);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg) translateX(-50%);
  }
}
