@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Quicksand:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'poppins', 'sans-serif', 'system-ui';
  background: #f8f7f9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'quicksand', sans-serif, 'system-ui';
}

.tooltip-container::before {
  content: attr(data-text);
  white-space: nowrap;
  position: absolute;
  top: -2.5rem;
  left: 50%;
  width: fit-content;
  border-radius: 100vmax;
  background: #3b4453;
  padding: 0.1rem 1rem;
  color: #fff;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateY(2rem) translateX(-50%);
  opacity: 0;
}

.tooltip-container:hover::before {
  transform: translateY(0) translateX(-50%);
  opacity: 1;
}
.tooltip-container:hover span {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .tooltip-container::before {
    display: none;
  }
}
